/* buttons */
i {
  font-size: 1.3rem;
  opacity: 0.5;
  cursor: pointer;
  position: relative;
}

i::after {
  content: attr(data-content);
  position: absolute;
  top: -12px;
  left: 25px;
  font-size: 0.5rem;
  width: max-content;
  transform: translateX(-60%);
  opacity: 0;
  display: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

i:hover,
i:hover::after {
  opacity: 0.75;
}

i:hover::after {
  display: inline;
}

/* Modal appearance */

.modal-header {
  gap: 1rem;
  background: #000;
  z-index: 1;
}

.modal-body {
  padding: 0 !important;
  display: flex;
}

.modal-content {
  background: black;
  color: white;
  border: solid 1px var(--bs-modal-header-border-color) !important;
  overflow: hidden;
  height: 610px;
}

/* Modal content */

.info-container {
  text-transform: uppercase;
  width: 50%;
  top: 0;
  padding-top: 1rem;
  transition: top 400ms;
  position: absolute;
  right: 0;
}

.hide-info {
  top: -30rem;
  overflow: hidden;
  transition: 400ms;
}

.edit-container {
  text-transform: uppercase;
  width: 50%;
  top: 0;
  padding-top: 1rem;
  transition: top 400ms;
  position: absolute;
  right: 0;
}

.hide-edit {
  top: -40rem;
  transform: top 400ms;
}

.img-container {
  width: 50%;
}
