main {
  padding-top: calc(var(--header-height) + 1rem);
}

.container {
  border-radius: 1rem;
  height: calc(100vh - var(--header-height) - 2rem);
  overflow-y: scroll;
}

.fighter-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem;
  justify-content: center;
}
